---
layout: bootcamp
root: .
venue: PNW Data Meeting and Data Carpentry Workshop
address: White Stag Block, University of Oregon 
country: United-States
humandate: June 25-26, 2015
humantime: 9:00 am - 4:00 pm
startdate: 2015-06-25
enddate: 2015-05-26
latlng: 
registration: open
host: ["Jackie Wirz (OHSU)"]
instructor: ["Cameron Macdonell (MacEwan University)"]
assistant: []
contact: wirzj@ohsu.edu
raw: raw.github.com/datacarpentry/2015-06-25-PNW/gh-pages
eventbrite: 
language: Python
---
<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
    Please use three-letter month names for the 'humandate' field.
-->

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->



<h2>Sponsors</h2>

<p><strong>Thank you to the following sponsors for this workshop</strong></p>

<ul>
<li>The Pacific Northwest Region of the National Network of the Libraries of Medicine <a href="https://nnlm.gov/pnr">https://nnlm.gov/pnr</a>
<li>The Greater Western Library Alliance  <a href="https://www.gwla.org">www.gwla.org</a>
<li>The Oregon Health &amp; Science University Library <a href="www.ohsu.edu/library">www.ohsu.edu/library</a>
</ul>

<h2>General Information</h2>

<p>
Data Carpentry workshops are for any researcher who has data they want to analyze, and no prior computational experience is required. This hands-on workshop teaches basic concepts, skills and tools for working more effectively with data. We will cover data organization in spreadsheets, data cleaning with OpenRefine, the command line, and Python for data analysis and visualization using examples of text analysis. Participants should bring their laptops and plan to participate actively. By the end of the workshop learners should be able to more effectively manage and analyze data and be able to apply the tools and approaches directly to their ongoing research. 
<p>
Data Carpentry's aim is to teach researchers basic concepts, skills,
and tools for working with data so that they can get more done in less
time, and with less pain.
</p>
<p>
Preliminary schedule:
<ul>
<li>  Day 1 morning: Data organization in spreadsheets and data cleaning withe OpenRefine
<li>  Day 1 afternoon: Command line for automation
<li>  Day 2 morning: Text mining in Python
<li>  Day 2 morning: Data analysis and visualization in Python
</ul>

<p>Our etherpad for this workshop is here <a href="https://datacarpentry.etherpad.mozilla.org/70">https://datacarpentry.etherpad.mozilla.org/70</a></p>
</p>

<!--
<p>Data files for the workshop are available at <a href = "/2015-01-15-cornell/data/biology/">the following link</a></p>

<p>The etherpad for this workshop can be found <a href = "https://etherpad.mozilla.org/7XixtJSZJq">here</a></p>

<p>A static copy of the etherpad as of 5:30 on Friday after the workshop ended is <a href ="etherpad-snapshot-530-Friday.html">here</a></p>
-->

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}

<p>
  <strong>Organizer:</strong>
  {{page.host | join: ', ' %}}
</p>
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
<p>
  <strong>Assistants:</strong>
  {{page.assistant | join: ', ' %}}

{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at faculty, research staff, postdocs, graduate students, advanced undergraduates, and other researchers in any field. No prior computational experience is required. 
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.  Within Mann Library, B30A Classroom is in the basement as you exit the elevators.  See <a href="http://smartmap.mannlib.cornell.edu/location/b30a" target="_blank"> the floor plan </a>. 
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>

<p>
  <strong>Requirements:</strong>
Data Carpentry's teaching is hands-on, so participants are required to bring in
and use their own laptops to insure the proper setup of tools for an efficient
workflow once you leave the workshop.  (Instructions on setting up the required
software are below). <em> There are no pre-requisites, and we will assume no
prior knowledge about the tools.</em> Participants are required to abide by
Software Carpentry's <a href="http://software-carpentry.org/conduct.html">Code
of Conduct</a>.
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please email
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for questions and information not covered here.
</p>

<p><strong>Twitter</strong>: #datacarpentry</p> @datacarpentry


<h2>Acknowledgements &amp; Support</h2>
<!--
<div class="pull-right" style="max-width: 320px; padding-left: 6px;">
</div>
-->
<p>
Data Carpentry is supported by the <a href=http://http://www.moore.org/>Gordon and Betty Moore Foundation</a> and a partnership of several NSF-funded <a href="http://www.nsf.gov/dir/index.jsp?org=BIO" target="_blank">BIO</a> Centers (<a href="http://nescent.org" target="_blank">NESCent</a>, <a href="http://iplantcollaborative.org" target="_blank">iPlant</a>, <a href="http://idigbio.org" target="_blank">iDigBio</a>, <a href="http://beacon-center.org/" target="_blank">BEACON</a> and <a href="http://sesync.org" target="_blank">SESYNC</a>) and <a href="http://software-carpentry.org" target="_blank">Software Carpentry</a>. 
The structure and objectives of the curriculum as well as the teaching style are informed by <a href="http://software-carpentry.org" target="_blank">Software Carpentry</a>.
</p>

{% if page.eventbrite %}
<h2>Registration</h2>
<p>
 Registration is through EventBrite, see below.</p> 
<iframe src="http://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" height="210" scrolling="auto"></iframe>
{% endif %}


<!--
    Edit this block to show the syllabus and schedule for your bootcamp.
-->

<h2>Schedule</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="http://datacarpentry.github.io/2015-06-25-PNW/spreadsheet-dh/">Cleaning Excel Data</a> &amp; <a href="http://programminghistorian.org/lessons/cleaning-data-with-openrefine">OpenRefine</a></td> </tr>
      <tr> <td>10:30</td> <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="http://datacarpentry.github.io/2015-06-25-PNW/shell-intro/">Automating tasks with the Unix shell</a></td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://github.com/resbaz/nltk">Analyzing Data with Python</a></td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Visualizing Text Analysis in Python (continued lesson from the morning)</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)




<h2>Additional Resources</h2>

<h3>shell</h3>
<ul>
<li><a href=http://fosswire.com/post/2007/08/unixlinux-command-cheat-sheet/>Unix/Linux Command Reference</a>
<li><a href=https://github.com/swcarpentry/boot-camps/blob/master/shell/shell_cheatsheet.md
>Shell cheat sheet</a>
<li><a href=http://software-carpentry.org/v4/shell/index.html>Software Carpentry shell lessons</a>
</ul>

<h3>R</h3>

<b>Where to learn more about R</b>
<ul>
<li><a href=http://www.statmethods.net/>http://www.statmethods.net/</a> - good for data organization, basics stats and graphs
<li><a href=http://www.gardenersown.co.uk/Education/Lectures/R/anova.htm>http://www.gardenersown.co.uk/Education/Lectures/R/anova.htm</a> - basic parametric and non-parametric stats
<li><a href=http://www.cyclismo.org/tutorial/R/index.html>http://www.cyclismo.org/tutorial/R/index.html</a> - R tutorial
<li><a href=http://www.amazon.com/R-Action-Robert-Kabacoff/dp/1935182390>R in Action</a> - good book as an R reference
<li><a href=http://www.twotorials.com/>http://www.twotorials.com/</a>
<li><a href=http://www.r-bloggers.com/>http://www.r-bloggers.com/</a>
<li><a href=http://tryr.codeschool.com/>http://tryr.codeschool.com/</a>
<li><a href=http://adv-r.had.co.nz/>Advanced R Programming by Hadley Wickham</a>
<li><a href=http://www.computerworld.com/s/article/9239625/Beginner_s_guide_to_R_Introduction>Beginner's Guide to R from Computer World</a>
<li><a href=http://www.scoop.it/t/r-for-journalists>R for Journalists</a>
<li><a href=http://www.r-bloggers.com/>R Bloggers</a>
<li><a href=http://www.inside-r.org/>inside-R</a> 
<li><a href=http://ropensci.org/>rOpenSci</a>
</ul>

<p>
<b>Plotting in R</b>
<ul>
<li><a href=http://www.harding.edu/fmccown/r/>http://www.harding.edu/fmccown/r/</a> - Very simple graphs
<li><a href=https://storify.com/tracykteal/r-galleries>A variety of R gallery recommendations</a>
<li><a href=http://docs.ggplot2.org/>ggplot gallery</a> - extensive and comprehensive; a great resource
<li><a href=http://www.amazon.com/R-Graphics-Cookbook-Winston-Chang-ebook/dp/B00AJ5X7W4/>R Graphics Cookbook</a> - highly recommended
<li><a href=http://www.cookbook-r.com/Graphs/>Some of R Graphics Cookbook plots</a> - a set of some of the plots from the R Graphics Cookbook by Winston Chang
<li><a href=http://rgm3.lab.nig.ac.jp/RGM/R_image_list?page=665&init=true>R Graphical Manual</a> - plots from apparently every R CRAN package
</ul>
-->

<h2>Syllabus</h2>

<div class="row">
  <div class="col-md-6">
    <h3>The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things</li>
      <li><a href="http://software-carpentry.org/v5/novice/ref/01-shell.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Programming in Python</h3>
    <ul>
      <li>Using libraries</li>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li>Using Python from the command line</li>
      <li><a href="http://software-carpentry.org/v5/novice/ref/03-python.html">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring files</li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving conflicts</li>
      <li>Open licenses</li>
      <li>Where to host work, and why</li>
      <li><a href="http://software-carpentry.org/v5/novice/ref/02-git.html">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Data Management in Spreadsheets</h3>
    <ul>
<li>Formatting data &amp; problems</li>
<li>Dates as data</li>
<li>Quality control</li>
<li>Exporting data</li>
<li>Data format caveats</li>
    </ul>
  </div>

</div>

<hr/>

<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Setup</h2>


<p>
Participants should bring and use their own laptops to insure the proper setup
of tools for an efficient workflow once you leave the workshop.  Unfortunately,
tablets and Chromebooks are not adequate.
<p>

<p>
  To participate in a Data Carpentry workshop, you will need 
  access to the software described below. In addition, you will 
  need an up-to-date web browser.
  Once you are done installing the software listed below,
  please go to <a href="setup/index.html">this page</a>,
  which has instructions on how to test that everything was installed correctly.
  We maintain a list of common issues that occur during installation as a reference for instructors
  that may be useful on the
  <a href = "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
</p>

<div id="shell"> <!-- Start of 'shell' section. -->
  <h3>The Bash Shell</h3>

  <p>
    Bash is a commonly-used shell that gives you the power to do simple
    tasks more quickly.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="shell-windows">Windows</h4>
      <p>
        Install Git for Windows by downloading and running
        <a href="http://msysgit.github.io/">the installer</a>.
        This will provide you with both Git and Bash in the Git Bash program.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-macosx">Mac OS X</h4>
      <p>
        The default shell in all versions of Mac OS X is bash, so no
        need to install anything.  You access bash from the Terminal
        (found in
        <code>/Applications/Utilities</code>).  You may want to keep
        Terminal in your dock for this workshop.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-linux">Linux</h4>
      <p>
        The default shell is usually Bash, but if your
        machine is set up differently you can run it by opening a
        terminal and typing <code>bash</code>.  There is no need to
        install anything.
      </p>
    </div>
  </div>
</div> <!-- End of 'shell' section. -->
<div id="spreadsheet"> <!-- Start of 'Spreadsheet' section. Remove the third paragraph if -->
  <h3>Spreadsheets</h3>

  <p>
  <ol>
<li><b>A spreadsheet program</b>
<br>For this workshop you will need a spreadsheet program. Many people already have 
Microsoft Excel installed, and if you do, you're set! 
<br>
If you need a spreadsheet 
program, there are a few other options, like OpenOffice and LibreOffice. Install 
instructions for LibreOffice, which is free and open source, are here.
       <ul>
          <li><b>Download the Installer</b>
        <br>Install LibreOffice by going to the <a href=https://www.libreoffice.org/download/libreoffice-fresh/>installation page</a>. The version for Windows 
should automatically be selected. Click <b>Download Version 4.4.2</b>. You 
will go to a page that asks about a donation, but you don't need to make one.
Your download should begin automatically. 
          <li><b>Install LibreOffice</b>
            <br>Once the installer is downloaded, double click on it and it should install.
<li>To use LibreOffice, double click on the icon and it will open.
</ul>

<p>

<li><b>Google Refine</b>
<p>
Google Refine (previously OpenRefine) is a tool for data cleaning 
that runs through a web browser, and any browser -
Safari, Firefox, Chrome, Explorer - should work fine. 
You will need to download Google Refine and install it, 
and when you open it, it will run through the browser, but you don't need
an internet connection, and the data will all be stored on your computer.
</p>

<div class="col-md-4">
 <h4 id="ss-win">Windows</h4>
 
<ul>
<li>Go to the OpenRefine <a href="http://openrefine.org/download.html">download 
page</a> 
<li>Click on <i>Windows kit</i> to download the install file
<li>To use it, unzip, and double-click on google-refine.exe (if you're having issues
with google-refine.exe try refine.bat instead)
<li>Google Refine will then open in your web browser.
</ul>
</div>
  </p>
</div>

<div class="col-md-4">
 <h4 id="ss-mac">Mac</h4>
<ul>
<li>Go to the OpenRefine <a href="http://openrefine.org/download.html">download 
page</a> 
<li>Click on <i>Mac kit</i> to download the install file
<li>Open the downloaded .dmg file
<li>Drag the icon in to the Applications folder
<li>Double click on the icon and Google Refine will then open in your web browser.
</ul>
</div>

<div class="col-md-4">
 <h4 id="ss-linux">Linux</h4>
<ul>
<li>Go to the OpenRefine <a href="http://openrefine.org/download.html">download 
page</a> 
<li>Click on <i>Linux kit</i> to download the install file
<li>Open the downloaded .dmg file
<li>Drag the icon in to the Applications folder
<li>Double click on the icon and Google Refine will then open in your web browser.
</ul>
</div>



<div id='git'> <!-- Start of 'Git' section. GitHub browser compatability
           is given at https://help.github.com/articles/supported-browsers/-->
  <h3>Git</h3>

  <p>
    Git is a version control system that lets you track who made changes
    to what when and has options for easily updating a shared or public
    version of your code
    on <a href="https://github.com/">github.com</a>. You will need a
    <a href="https://help.github.com/articles/supported-browsers/">supported</a>
    web browser (current versions of Chrome, Firefox or Safari,
    or Internet Explorer version 9 or above).
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="git-windows">Windows</h4>
      <p>
        Git should be installed on your computer as part of your Bash
        install (described above).
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="git-macosx">Mac OS X</h4>
      <p>
        <strong>For OS X 10.8 and higher</strong>, install Git for Mac
        by downloading and running
        <a href="http://sourceforge.net/projects/git-osx-installer/files/latest/download">the installer</a>.
        After installing Git, there will not be anything in your <code>/Applications</code> folder, 
        as Git is a command line program.
        <strong>For older versions of OS X (10.5-10.7)</strong> use the
        most recent available installer for your
        OS <a href="http://sourceforge.net/projects/git-osx-installer/files/">available here</a>.
        Use the Leopard installer for 10.5 and the Snow
        Leopard installer for 10.6-10.7.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="git-linux">Linux</h4>
      <p>
        If Git is not already available on your machine you can try to
        install it via your distro's package manager. For Debian/Ubuntu run
        <code>sudo apt-get install git</code> and for Fedora run
        <code>sudo yum install git</code>.
      </p>
    </div>
  </div>
</div> <!-- End of 'Git' section. -->

<div id="editor"> <!-- Start of 'editor' section. -->
  <h3>Text Editor</h3>

  <p>
    When you're writing code, it's nice to have a text editor that is
    optimized for writing code, with features like automatic
    color-coding of key words.  The default text editor on Mac OS X and
    Linux is usually set to Vim, which is not famous for being
    intuitive.  if you accidentally find yourself stuck in it, try
    typing the escape key, followed by <code>:q!</code> (colon, lower-case 'q',
    exclamation mark), then hitting Return to return to the shell.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="editor-windows">Windows</h4>
      <p>
        nano is a basic editor and the default that instructors may use in the workshop.
        To install it, 
        download the <a href="http://files.software-carpentry.org/SWCarpentryInstaller.exe">Software Carpentry Windows installer</a>
        and double click on the file to run it.
        <strong>This installer requires an active internet connection.</strong>
      </p>
      <p>
        Others editors that you can use are
        <a href="http://www.atom.io">Atom</a>,
        <a href="http://notepad-plus-plus.org/">Notepad++</a> or
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
        <strong>Be aware that you must
          add its installation directory to your system path.</strong>
        Please ask your instructor to help you do this.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="editor-macosx">Mac OS X</h4>
      <p>
        nano is a basic editor and the default that instructors may use in the workshop.
        It should be pre-installed.
      </p>
      <p>
        Others editors that you can use are
        <a href="http://www.atom.io">Atom</a>,
        <a href="http://www.barebones.com/products/textwrangler/">Text Wrangler</a> or
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="editor-linux">Linux</h4>
      <p>
        nano is a basic editor and the default that instructors may use in the workshop.
        It should be pre-installed.
      </p>
      <p>
        Others editors that you can use are
        <a href="http://www.atom.io">Atom</a>,
        <a href="https://wiki.gnome.org/Apps/Gedit">Gedit</a>,
        <a href="http://kate-editor.org/">Kate</a> or
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
      </p>
    </div>
  </div>
</div> <!-- End of 'editor' section. -->

<div id="python"> <!-- Start of 'Python' section. Remove the third paragraph if
           the workshop will teach Python using something other than
           the IPython notebook.
           Details at http://ipython.org/ipython-doc/2/install/install.html#browser-compatibility -->
  <h3>Python</h3>

  <p>
    <a href="http://python.org">Python</a> is a popular language for
    scientific computing, and great for general-purpose programming as
    well.  Installing all of its scientific packages individually can be
    a bit difficult, so we recommend an all-in-one installer.
  </p>

    <p>
      Regardless of how you choose to install it,
      <strong>please make sure you install Python version 2.x and not version 3.x</strong>
      (e.g., 2.7 is fine but not 3.4).
      Python 3 introduced changes that will break some of the code we teach during the workshop.
    </p>

    <p>
      We will teach Python using the IPython/Jupyter notebook, a programming environment
      that runs in a web browser that is installed as part of Anaconda (see
      below). For this to work you will need a reasonably
      up-to-date browser. The current versions of the Chrome, Safari and
      Firefox browsers are all <a 
      href='http://ipython.org/ipython-doc/2/install/install.html#browser-compatibility'>supported</a> 
      (some older browsers, including Internet Explorer version 9 
      and below, are not).
    </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="python-windows">Windows</h4>
      <ul>
        <li>
          Download and
          install <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
        </li>
        <li>
          Download the default Python 2 installer (do not follow the link to version 3).
          Use all of the defaults for installation
          <em>except</em> make sure to check
          <strong>Make Anaconda the default Python</strong>.
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4 id="python-macosx">Mac OS X</h4>
      <ul>
        <li>
          Download and
          install <a href="https://store.continuum.io/cshop/anaconda/">Anaconda</a>.
        </li>
        <li>
          Download the default Python 2 installer (do not follow the link to version 3).
          Use all of the defaults for installation.
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4 id="python-linux">Linux</h4>
      <p>
        We recommend the all-in-one scientific Python installer
        <a href="http://continuum.io/downloads.html">Anaconda</a>.
        (Installation requires using the shell and if you aren't
        comfortable doing the installation yourself just
        download the installer and we'll help you at the workshop.)
      </p>
      <ol>
        <li>
          Download the installer that matches your operating
          system and save it in your home folder.
          Download the default Python 2 installer (do not follow the link to version 3). 
        </li>
        <li>
          Open a terminal window.
        </li>
        <li>
          Type <pre>bash Anaconda-</pre> and then press
          tab. The name of the file you just downloaded should
          appear.
        </li>
        <li>
          Press enter. You will follow the text-only prompts.  When
          there is a colon at the bottom of the screen press the down
          arrow to move down through the text. Type <code>yes</code> and
          press enter to approve the license. Press enter to approve the
          default location for the files. Type <code>yes</code> and
          press enter to prepend Anaconda to your <code>PATH</code>
          (this makes the Anaconda distribution the default Python).
        </li>
      </ol>
    </div>
     <h4>Natural Language Toolkit</h4>
    <p>Natural Language Toolkit is a library of Python that can be used to analyse features of large bodies of text.
    you will need to install NLTK for use in this workshop. If you want to learn more about NLTK, the O'Reilly book 
    for Python 2 is a good resource, available <a href="http://www.nltk.org/book_1ed/">here</a>.</p>
    <p>To install NLTK:</p>
    <ol>
      <li>
	Open a terminal window and type
	<pre>pip install NLTK</pre>
      </li>
      <li>
	Then in a python shell run the following commands
	<pre>import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('book')</pre>
      </li>
    </ol>
  </div>
</div> <!-- End of 'Python' section. -->

</p>



